body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $txtcolor;
}

.wrapper {
	padding: 0;
	max-width: 1230px;
	margin: 20px auto;
}

.section {
	margin: 40px 0;
}

ul {
	li {}
	a {
		display: inline-block;
		padding: 2px 0;
	}
}

ol {
  counter-reset: my-counter;
	li {
		padding: 2px 0;
		&:before {
  		content: counter(my-counter, decimal);
  		counter-increment: my-counter;
  		padding-right: 10px;
  		color: $txtcolorLighter;
  		font-weight: 700;
		}
	}
}

a {
	color: $linkColor;
	&:hover {
		text-decoration: underline;
	}
}

a[href^="/#"] {
	color: $linkColorNoHref;
}

input {
  &[type=text] {
    padding: 6px 10px;
    margin: 4px;
  }
  &[type=password] {
    padding: 6px 10px;
    margin: 4px;
  }
}
textarea {
  padding: 6px 10px;
  margin: 4px;
  height: 50px;
}