.block,
.grid {
	padding: 0 15px;
	margin: 20px 0;
}

.grid {	
	.column {
		display: inline-block;
		vertical-align: top;
		padding: 0 15px 30px 15px;
		@include box-sizing();
		
		// Quick fix
		margin-right: -4px;
		
	}
	
	.column-1 { width: 8.333333333333%; }	/* 100/1200 */
	.column-2 { width: 16.666666666667%; }	/* 200/1200 */
	.column-3 { width: 25%; }				/* 300/1200 */
	.column-4 { width: 33.333333333333%; }	/* 400/1200 */
	.column-5 { width: 41.666666666667%; }	/* 500/1200 */
	.column-6 { width: 50%; }				/* 600/1200 */
	.column-7 { width: 58.333333333333%; }	/* 700/1200 */
	.column-8 { width: 66.666666666667%; }	/* 800/1200 */
	.column-9 { width: 75%; }				/* 900/1200 */
	.column-10 { width: 83.333333333333%; }	/* 1000/1200 */
	.column-11 { width: 91.666666666667%; }	/* 1100/1200 */
	.column-12 { width: 100%; }				/* 1200/1200 */	
}

@mixin grid-0-1024 {
	.grid {
		.tablet-column-1 { width: 8.333333333333%; }	/* 100/1200 */
		.tablet-column-2 { width: 16.666666666667%; }	/* 200/1200 */
		.tablet-column-3 { width: 25%; }				/* 300/1200 */
		.tablet-column-4 { width: 33.333333333333%; }	/* 400/1200 */
		.tablet-column-5 { width: 41.666666666667%; }	/* 500/1200 */
		.tablet-column-6 { width: 50%; }				/* 600/1200 */
		.tablet-column-7 { width: 58.333333333333%; }	/* 700/1200 */
		.tablet-column-8 { width: 66.666666666667%; }	/* 800/1200 */
		.tablet-column-9 { width: 75%; }				/* 900/1200 */
		.tablet-column-10 { width: 83.333333333333%; }	/* 1000/1200 */
		.tablet-column-11 { width: 91.666666666667%; }	/* 1100/1200 */
		.tablet-column-12 { width: 100%; }				/* 1200/1200 */	
	}
}

@mixin grid-0-660 {
	.grid {
		.mobile-column-1 { width: 8.333333333333%; }	/* 100/1200 */
		.mobile-column-2 { width: 16.666666666667%; }	/* 200/1200 */
		.mobile-column-3 { width: 25%; }				/* 300/1200 */
		.mobile-column-4 { width: 33.333333333333%; }	/* 400/1200 */
		.mobile-column-5 { width: 41.666666666667%; }	/* 500/1200 */
		.mobile-column-6 { width: 50%; }				/* 600/1200 */
		.mobile-column-7 { width: 58.333333333333%; }	/* 700/1200 */
		.mobile-column-8 { width: 66.666666666667%; }	/* 800/1200 */
		.mobile-column-9 { width: 75%; }				/* 900/1200 */
		.mobile-column-10 { width: 83.333333333333%; }	/* 1000/1200 */
		.mobile-column-11 { width: 91.666666666667%; }	/* 1100/1200 */
		.mobile-column-12 { width: 100%; }				/* 1200/1200 */
		
		.mobile-hide {display: none;}
	}
	.mobile-hide {display: none;}
}