html, body, h1, h2, h3, h4, p, img, video, a, ul, ol, li, blockquote, div {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
}

li {
	list-style: none;
}

img, video, iframe {
	display: block;
}

a {
	text-decoration: none;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}