h1 {
  letter-spacing: 1px;
	margin: 10px 0;
}
h2 {
	margin: 10px 0;
}
h3 {
	margin: 10px 0;
}
h4 {
	margin: 10px 0;
}
h5 {
	margin: 10px 0;
}
h6 {
	margin: 10px 0;
}
p {
  line-height: 1.3em;
}
span {}
code {
	font-size: 14px;
}