---
pageTitle: Simple setup of Grunt.js
pageDescription: How to install Grunt.js with an simple setup with templates.
---

{{>module-list index.module-list-links}} {{!-- First item is which module, second item is which data to add to module --}}

<div class="block"><b>{{site.name}}</b> - {{site.version}}<br>{{site.description}}</div>
