---
pageTitle: Style Guide
pageDescription: Style guide for simple setup with templates.
---

<div class="block">
	<h1>Style guide &amp; Modules</h1>
</div>
<div class="block">
	<h2>Style guide</h2>
</div>

<div class="block">
	<div class="elements">
		<div class="links">
			<h3>Links</h3>
			<a href="#" class="">Standard link</a>
			<a href="#" class="disable">Disabled link</a>
		</div>
		<div class="buttons">
			<h3>Buttons</h3>
			<a href="#" class="btn">Standard button</a>
			<a href="#" class="btn btn-big">Standard button big</a>
			<a href="#" class="btn btn-arrow btn-right">Standard button with arrow</a>
			<a href="#" class="btn btn-arrow btn-down">Standard button with arrow down</a>
			<a href="#" class="btn cta-btn btn-big">Call to action button</a>
		</div>
		<div class="titles">
			<h3>Titles</h3>
			<h1>h1 - Headline</h1>
			<h2>h2 - Headline</h2>
			<h3>h3 - Headline</h3>
			<h4>h4 - Headline</h4>
			<h5>h5 - Headline</h5>
			<h6>h6 - Headline</h6>
		</div>
		<div class="text">
			<h3>Text elements</h3>
			<p>paragraph - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<span>span</span>
		</div>
		<div class="lists">
			<h3>Lists</h3>
			<ul>
				<li>List item 1</li>
				<li>List item 2</li>
				<li>List item 3</li>
			</ul>
			<ol>
				<li>List item 1</li>
				<li>List item 2</li>
				<li>List item 3</li>
			</ol>
		</div>
	</div>
	<div class="colors">
		<h3>Colors</h3>
		<div class="color-txt">Text - #333</div>
		<div class="">Border - </div>
		<div class="">Background - </div>
		<div class=""></div>
		<div class=""></div>
	</div>
	<div class="messages">
		<h3>Messages</h3>
		<div class="msg msg-success">Message success</div>
		<div class="msg msg-info">Message info</div>
		<div class="msg msg-warning">Message warning</div>
		<div class="msg msg-error">Message error</div>
	</div>
</div>

<div class="block">
	<h2>Modules</h2>
</div>

<div class="block">
	<h3>Module: Module list</h3>
	{{>module-list module-list}}
</div>

<div class="block"><b>{{site.name}}</b> - {{site.version}}<br>{{site.description}}</div>
